body,
html {
    height: 100%;
}
@font-face {
    font-display: swap;
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/roboto/roboto-v30-latin-700.woff") format("woff2"),
        url("../fonts/roboto/roboto-v30-latin-700.woff") format("woff");
}
@font-face {
    font-display: swap;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/robot/roboto-v30-latin-500.woff2") format("woff2"),
        url("../fonts/roboto/roboto-v30-latin-500.woff") format("woff");
}
@font-face {
    font-display: swap;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/roboto/roboto-v30-latin-regular.woff2") format("woff2"),
        url("../fonts/roboto/roboto-v30-latin-regular.woff") format("woff");
}
@font-face {
    font-display: swap;
    font-family: "Fredoka One";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/fredoka/FredokaOne-Regular.ttf");
}
@font-face {
    font-display: swap;
    font-family: "Hind Madurai";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/hind-madurai/hind-madurai-v11-latin-regular.woff2")
            format("woff2"),
        url("../fonts/hind-madurai/hind-madurai-v11-latin-regular.woff")
            format("woff");
}
@font-face {
    font-display: swap;
    font-family: "Hind Madurai";
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/hind-madurai/hind-madurai-v11-latin-500.woff2")
            format("woff2"),
        url("../fonts/hind-madurai/hind-madurai-v11-latin-500.woff")
            format("woff");
}
@font-face {
    font-display: swap;
    font-family: "Hind Madurai";
    font-style: normal;
    font-weight: 600;
    src: url("../fonts/hind-madurai/hind-madurai-v11-latin-600.woff2")
            format("woff2"),
        url("../fonts/hind-madurai/hind-madurai-v11-latin-600.woff")
            format("woff");
}
@font-face {
    font-display: swap;
    font-family: "Hind Madurai";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/hind-madurai/hind-madurai-v11-latin-700.woff2")
            format("woff2"),
        url("../fonts/hind-madurai/hind-madurai-v11-latin-700.woff")
            format("woff");
}
:root {
    --text-color: #000000;
    --white-color: #ffff;
    --font-family: "Roboto";
    --brand-color: #d23166;
}
*,
::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}
body {
    display: flex;
    flex-direction: column;
    font-family: var(--font-family);
    color: var(--text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}
main {
    flex-grow: 1;
}
h1 {
    margin: 0;
}
a {
    text-decoration: none;
    color: inherit;
    font-size: inherit;
    display: inline-block;
}
ol,
ul {
    list-style-type: none;
}
img {
    display: flex;
}
button {
    outline: 0;
    border: none;
}
input:focus,
select:focus {
    border: 1px solid #ffa3a3;
    outline: 0;
}
.container {
    width: 100%;
    min-height: 100%;
    max-width: 1190px;
    padding: 0 1.5rem;
    margin: 0 auto;
}
.button {
    background: #d23166;
    border-radius: 5px;
    color: #ffff;
    text-align: center;
    padding: 1.4rem 5rem;
    font-size: 1.6rem;
    line-height: 1.3;
    font-weight: 700;
}
.header,
.hero,
.sugar {
    background-color: rgba(242, 206, 218, 0.3);
}
.hero-subtitle,
.sitenav-list {
    font-size: 1.4rem;
    line-height: 1.1;
}
.footer__sections,
.header__container {
    display: flex;
    align-items: center;
}
.sitenav {
    display: flex;
    align-items: center;
    margin-left: 26.6rem;
}
.sitenav-list {
    display: flex;
    gap: 4rem;
    font-weight: 400;
    color: #150101;
    opacity: 0.6;
}
.hero-pink,
.hover,
.sitenav-list-link:hover {
    color: #d23166;
}
.sitenav-btn {
    margin-left: 17.2rem;
}
.hover {
    opacity: 1;
}
.hero {
    padding-top: 3rem;
    margin-bottom: 10rem;
}
.hero__info {
    width: 66.5rem;
}
.hero__container {
    display: flex;
    align-items: center;
    background-image: url(../img/png/hero-image.png);
    background-repeat: no-repeat;
    background-position-x: 155%;
    padding-top: 15rem;
    padding-bottom: 20rem;
}
.hero-subtitle {
    letter-spacing: 0.1em;
    margin-bottom: 0.6rem;
}
.hero-title {
    font-family: "Fredoka One";
    font-weight: 400;
    font-size: 57.33px;
    line-height: 120.5%;
    color: #0f0101;
    opacity: 0.9;
    margin-bottom: 3.5rem;
}
.card-title,
.features-list-item,
.products__title,
.sugar__title {
    font-family: "Hind Madurai";
}
.hero-text {
    width: 52.3rem;
    margin-bottom: 5rem;
    font-size: 1.8rem;
    line-height: 150%;
    color: #0f0101;
    opacity: 0.6;
    text-align: left;
}
.features {
    padding-bottom: 10rem;
}
.features-list,
.products__list {
    display: flex;
    gap: 3.9rem;
}
.features-list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25rem;
    background: #fff;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.03);
    border-radius: 7px;
    border: 1px solid rgba(0, 0, 0, 0.03);
    padding: 3.3rem 2.6rem;
}
.card-title {
    font-style: normal;
    font-weight: 600;
    font-size: 2rem;
    line-height: 1.4;
    margin-bottom: 0.9rem;
}
.card-text {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.3;
    text-align: center;
    color: #000;
    opacity: 0.6;
}
.card-img {
    margin-bottom: 2.4rem;
}
.sugar__container {
    padding: 14.1rem 0 14.6rem;
    background-image: url(../img/png/morojniy.png);
    background-repeat: no-repeat;
    background-size: 655px 656px;
    background-position-y: center;
    background-position-x: 100%;
}
.sugar__info {
    width: 44.2rem;
}
.sugar__title {
    width: 34.9rem;
    font-weight: 600;
    font-size: 4.42rem;
    line-height: 1.1;
    margin-bottom: 1.6rem;
}
.sugar__text {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 150%;
    opacity: 0.6;
    margin-bottom: 3rem;
}
.sugar-btn {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.18;
    color: #fafafa;
}
.products__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 13.7rem;
}
.about-product,
.client {
    display: flex;
    align-items: center;
}
.products__title {
    margin-bottom: 6.4rem;
    font-weight: 600;
    font-size: 4.42rem;
    line-height: 1.3;
}
.products__list-item {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.16;
    opacity: 0.6;
}
.info-title,
.price {
    font-family: "Hind Madurai";
    font-size: 2.6rem;
    line-height: 1.3;
}
.select-item {
    opacity: 1;
    border-bottom: 3px solid #d64374;
}
.client-country,
.del-text,
.feedback,
.info-text {
    opacity: 0.7;
}
.about-product {
    gap: 8.5rem;
}
.info-title {
    font-weight: 700;
    margin-bottom: 1.1rem;
}
.client-about,
.help__title,
.order__title,
.price {
    font-weight: 500;
}
.info-text {
    margin-bottom: 2.8rem;
}
.price {
    margin-bottom: 1.6rem;
}
.del-text {
    font-size: 2rem;
    line-height: 1.4;
    text-decoration-line: line-through;
}
.right-text {
    text-align: right;
}
.clients {
    position: relative;
    margin-right: 15rem;
}
.client {
    margin-bottom: 5rem;
}
.client-about {
    margin-left: 2.1rem;
    font-size: 1.2rem;
    line-height: 1.16;
}
.feedback {
    margin-bottom: 3.9rem;
    margin-left: 25px;
    width: 32.2rem;
}
.right-q {
    display: inline;
    position: absolute;
    bottom: 36.5%;
    right: 12%;
}

.left-q {
    display: inline;
    position: absolute;
    left: 0%;
}
.other-clients {
    display: flex;
    gap: 2.7rem;
    align-items: center;
}
.rounded {
    border-radius: 50%;
}
.bordered {
    border: 1px solid #d64374;
    border-radius: 50%;
}
.order {
    background-color: rgba(242, 206, 218, 0.3);
    margin-bottom: 15rem;
}
.order__container {
    padding-top: 9rem;
    padding-bottom: 26.5rem;
    display: flex;
    justify-content: flex-end;
    position: relative;
}
.order-list-item,
.rounded-img {
    align-items: center;
    display: flex;
}
.order-info {
    width: 64.2rem;
}
.order__title {
    font-size: 4.42rem;
    line-height: 1.17;
    margin-bottom: 2rem;
}
.order__text {
    margin-bottom: 3.1rem;
    text-align: left;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.01em;
    color: #0f0101;
    opacity: 0.7;
}
.order-list-item {
    gap: 1rem;
    margin-bottom: 1.9rem;
}
.order-list-item h3 {
    font-size: 2.2rem;
    line-height: 1.18;
    font-weight: 400;
}
.rounded-img {
    width: 3rem;
    height: 3rem;
    background: #ffff;
    border-radius: 5px;
    justify-content: center;
}
.mobile-ui {
    position: absolute;
    left: 0;
    border-radius: 3.3rem;
}
.phone-input,
.questions {
    width: 30.3rem;
    border: 1px solid #ffa3a3;
    background: #fff;
    padding: 2.9rem 2.5rem;
}
.download-list {
    position: absolute;
    left: 519px;
    display: flex;
    align-items: center;
}
.help__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 7.1rem;
}
.help__title {
    font-size: 4.4rem;
    line-height: 1.18;
    text-align: center;
    margin-bottom: 3.6rem;
}
.question-form,
.questions {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}
.phone-input {
    border-radius: 5px;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.question-form {
    position: relative;
}
.questions {
    border-radius: 5px;
    margin-left: 3rem;
    margin-bottom: 3.7rem;
    appearance: none;
    cursor: pointer;
    color: #0f0000;
    opacity: 0.8;
}
.question-input {
    width: 51rem;
    background: #fff;
    border: 1px solid #ffa3a3;
    border-radius: 5px;
    padding: 2.9rem 2.5rem;
}
.icon-container {
    position: absolute;
    bottom: 150px;
    right: 25px;
    cursor: pointer;
}
.send-button {
    width: 13.4rem;
    background: #d64374;
    border-radius: 5px;
    padding: 2.8rem 2.5rem;
    font-weight: 500;
    font-size: 2rem;
    line-height: 1.15;
    color: #fff;
    position: absolute;
    right: 0;
}
.footer-text,
.social-text {
    font-size: 1.2rem;
    line-height: 1.4;
    color: #fff;
}
.footer {
    background: #0a0808;
}
.footer__contaier {
    padding-top: 7rem;
}
.footer-section {
    display: flex;
    flex-direction: column;
}
.footer-text {
    width: 20.7rem;
    font-weight: 400;
    letter-spacing: 0.01em;
    opacity: 0.7;
    margin-bottom: 2.5rem;
}
.social-text {
    font-weight: 500;
    margin-bottom: 0.8rem;
}
.footer__links-item,
.footernav-link {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    color: #fff;
    font-weight: 400;
    line-height: 1.4;
}
.socials {
    display: flex;
    gap: 1rem;
}
.footernav {
    margin-left: 3.7rem;
}
.footernav-link {
    opacity: 0.7;
}
.footer__links-list {
    margin-left: 13.8rem;
}
.footer__links-item {
    opacity: 0.8;
}
.footer-newslatter {
    position: relative;
    margin-left: 15rem;
}
.newslatter {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.18;
    color: #fff;
    margin-bottom: 1.3rem;
}
.footer-email-input {
    width: 26.3rem;
    padding: 1.62rem 1.7rem;
    border: 2px solid #d64374;
    border-radius: 5px;
    background: #0a0808;
    margin-bottom: 1.8rem;
    color: #fafafa;
}
.footer-email-input:focus {
    border: 2px solid #d64374;
}
.footer-email-input::placeholder {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.4;
    opacity: 0.6;
}
.subscribe-btn {
    position: absolute;
    right: -115px;
    width: 12.5rem;
    text-align: center;
    padding: 1.7rem 1.8rem;
}
